html {
  margin-top: 50px;
}


.landing-container {
  display: flex;
  flex-direction: column;
  height: 98vh;
  margin-top: -50px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-item {
  height: 100%;
  width: 100vw;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.btn-outline-ecm {
  color: rgb(28,159,242);
  background-color: transparent;
  background-image: none;
  border-color: rgb(28,159,242);
}

.btn-outline-ecm:hover {
  color: #fff;
  background-color: rgb(28,159,242);
  border-color: rgb(28,159,242);
}

.title-font {
    font-size: 11px;
    line-height: 14px;
}

.news-bar {
    width: 100%;
}

.bg-semitransparent {
   background-color: rgba(52, 58, 64, 0.5);
}

.ecm-primary {
    color: rgb(28,159,242);
}

.text-smaller {
    font-size: smaller;
}

.bg-lessdark {
    background-color: rgb(77, 78, 79);
}

.team-photo {
  width:150px;
  height:150px;
  display:block;
  border-radius:50%;
  border: 1px solid #6c757d;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-wrap{
  flex-shrink: 0;
}


.team-photo-lg {
  width:200px;
  height:200px;
  display:block;
  border: 1px solid #6c757d;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-photo-lg-rounded {
  width:200px;
  height:200px;
  display:block;
  border-radius:50%;
  border: 1px solid #6c757d;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-photo-sm {
  width:50px;
  height:50px;
  display:block;
  border-radius:50%;
  border: 1px solid #6c757d;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-width-equal {
  flex-basis: 0 !important;
}

.pub-highlight-container {
    background-size: cover;
}

.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

a.ecm-primary:hover {
  color:  #6ec2f7;

}

.flex-even {
  flex: 1;
  flex-shrink: 0;
}

.gallery-item {
  display: block;
  width: 75%;
}

.gallery-img {
  width: 100%;
}

.alert-bar {
  margin-top: 57px;
  background-color: #CE5D15;

}

/*Test Lukas*/
/* Image grid layout */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40vh 40vh;
  gap: 0;
}


/* Individual image tiles */
.grid-item {
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Central large image (optional) */
.grid-item.large {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

/* Overlay background */
.bg-semitransparent {
  background-color: rgba(0, 0, 0, 0.45);
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 30vh);
  }

  .grid-item.large {
    grid-column: auto;
    grid-row: auto;
  }
}